.Browse-Menu-div {
  width: 100%;
  padding: 50px 7%;
}
.Browse-Menu-div .Heading {
  text-align: center;
  font-size: 3rem;
  font-style: italic;
}

.Browse-Menu-div .card-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.card-div .card {
  width: 22%;
  height: 100%;
  border: 1px solid rgb(234, 213, 213);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px 2%;
  border-radius: 7px;
}
.card .round {
  width: 60px;
  height: 60px;
  background-color: rgb(234, 213, 213);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.round img {
  width: 70%;
}
.card .card-head {
  font-size: 1.5rem;
  text-align: center;
}
.card .card-para {
  font-size: 1.1rem;
  text-align: center;
}
.card .card-btn {
  padding: 0.5rem 1.5rem;
  font-size: 1.1rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: red;
  font-weight: 500;
}

@media (max-width: 576px) {
  .Browse-Menu-div .card-div {
    flex-direction: column;
    gap: 30px;
  }
  .card-div .card {
    width: 100%;
  }
}
