.We-offer-main {
  width: 100%;
  padding: 50px 7%;
}
.We-offer-main .heading {
  font-size: 2.5rem;
  font-style: italic;
}
.We-offer-main .Card-div {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.Card-div .Card {
  width: 22%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.Card .img-div {
  width: 100%;
  height: 100%;
  height: 300px;
}
.img-div .image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 9px;
}
.Card .Title {
  font-size: 1.4rem;
  font-weight: 500;
}

@media (max-width: 576px) {
  .We-offer-main .Card-div {
    flex-direction: column;
  }
  .Card-div .Card {
    width: 100%;;
  }
}
